@primary-blue: #a1ccea;
@pink-light: #ffecee;
@pink-dark: #fca6c0;
@white: #ffffff;
@font-dark: #060506;
@black-shadow-light: rgba(0, 0, 0, 0.1);
@black-shadow-dark: rgba(0, 0, 0, 0.2);
@white-transparent: rgba(255, 255, 255, 0.2);