@import "colors";

body {
    padding-top: 15vh !important;
}

nav.navbar {
    position: fixed;
    background: $white-transparent !important;
    box-shadow: 0 $box-shadow-blur $base-size $black-shadow-light !important;
    transition: transform 0.3s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        backdrop-filter: blur($backdrop-blur);
        z-index: -1;
    }
}

nav.navbar .navbar-brand {
    font-weight: bold !important;
}

nav.navbar .nav-link {
    color: $font-dark !important;
    border-radius: $border-radius;

    &:hover {
        background: $white-transparent !important;
    }
}

nav.navbar .dropdown-menu {
    background: $white-transparent !important;
    border: none !important;
    border-radius: $border-radius;
    box-shadow: 0 $box-shadow-blur $base-size $black-shadow-light !important;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        backdrop-filter: blur($backdrop-blur);
        border-radius: inherit;
        z-index: -1;
    }
}

nav.navbar .dropdown-item {
    color: $font-dark !important;

    &:hover {
        background: $white-transparent !important;
        border-radius: $border-radius;
    }
}

.navbar-toggler-icon-img {
    width: 1.5em;
    height: 1.5em;
}

.navbar-toggler:hover {
    background: $white-transparent !important;
}