.game-layout {
  display: grid;
  grid-template-rows: 15vh 5vh 50vh 15vh 15vh; 
  height: 120vh;
  width: 100%;
  position: relative;
  padding: 0 2rem;
}

.zayne-wood {
  background-color: rgb(170, 134, 86);
  
  width: 100vw;
  margin-left: -2rem; 
  margin-right: -2rem; 
  
  height: 10vh; 
  border-bottom: solid 2vh rgb(134, 106, 66);
  
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    transparent 30%,
    transparent 70%,
    rgba(0, 0, 0, 0.1) 100%
  );
  
  box-shadow: 
    0 2px 5px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.table-background {
  position: absolute;
  left: 0;
  top: 15vh; 
  width: 100vw;
  height: 85vh; 
  
  background-color: rgb(252, 244, 208);
  
  background-image: 
    linear-gradient(rgba(0,0,0,0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 50px 50px;
  border-bottom: 40px solid rgb(192, 160, 101);
  pointer-events: none;
  z-index: -1;
  
  margin-left: 50%;
  transform: translateX(-50%);
}

.state-section, 
.grid-section, 
.hand-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  z-index: 2; 
  margin: 0 1rem;
}


@media screen and (max-width: 576px) {
  .hand-section {
    align-items: flex-start;
    padding-top: 10px;
  }

  .game-layout {
    padding: 0 ;
    }
  .zayne-wood {
    margin-left: 0; 
    margin-right: 0;
  }

}