.game-layout {
  display: grid;
  grid-template-rows: 20vh 50vh 30vh 10vh; 
  height: 120vh;
  width: 100%;
  position: relative;
  padding: 0 2rem;
}


.table-background {
  position: absolute;
  left: 0;
  top: 20vh; 
  width: 100vw;
  height: 80vh; 
  
  background-color: rgb(252, 244, 208);
  
  background-image: 
    linear-gradient(rgba(0,0,0,0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 50px 50px;
  
  pointer-events: none;
  z-index: -1;
  
  margin-left: 50%;
  transform: translateX(-50%);
}

.state-section, 
.grid-section, 
.hand-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  z-index: 2; 
  margin: 0 1rem;
}


@media screen and (max-width: 576px) {
  .hand-section {
    align-items: flex-start;
    padding-top: 10px;
  }

  .game-layout {
    padding: 0 ;   }

}