.vscode/
.metals/
.bsp/
.idea/
.project/
.g8/
*.iml
*.swp
*.swo
*~

logs/
target/
*/target/
project/target/
project/project/target/
*.class
RUNNING_PID
server.pid

node_modules/
dist/
.cache/

.DS_Store

*.log

**/firebase-service-account.json
wa_kitty_card/conf/firebase-service-account.json
wa_kitty_card/conf/application.conf
cors.json

.env
.env.*
.env.production
.env.development

manifestl.yml
manifest-frontend.yml
manifest.yml

tmp/
temp/
*.tmp
wa_kitty_card/frontend/public/config.js
wa_kitty_card/frontend/src/firebase/config.js
