body {
    font-family: 'comic sans ms', sans-serif;
    background-color: #FFE8F0;
    border: 10px solid #ffbadd;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

div { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border : 2px solid #ffbadd;
}

p{
    text-align: center;
}