@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <link
      rel="stylesheet"
      media="screen"
      href='@routes.Assets.versioned("stylesheets/main.css")'
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href='@routes.Assets.versioned("images/zayne-icon.png")'
    />
  </head>

  <body>
    <nav class="top-nav">
      <ul class="tab-list">
        <li class="tab"><a href="@routes.UiController.helloKitty()">Information</a></li>
        <li class="tab"><a href="@routes.UiController.combinedView()">Game View</a></li>
        <li class="tab debug-tab">
          <div class="debug-trigger">Debug</div>

          <ul class="sub-menu">
            <li><a href="@routes.UiController.playersState()">Players State</a></li>
            <li><a href="@routes.UiController.gridColors()">Grid</a></li>
            <li><a href="@routes.UiController.playerHandView()">Players Hand</a></li>
            <li><a href="@routes.UiController.listEvents()">List Events</a></li>
            <li><a href="@routes.UiController.loadingScreen()">Loading Screen</a></li>
            <li><a href="@routes.UiController.enterNames()">Enter Names</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="content">@content</div>
  </body>
</html>
