@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link
      rel="stylesheet"
      media="screen"
      href='@routes.Assets.versioned("stylesheets/main.css")'
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href='@routes.Assets.versioned("images/zayne-icon.png")'
    />

  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="@routes.UiController.helloKitty()">Kitty Card</a>
        
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="@routes.UiController.combinedView()">Game View</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button">
              Debug
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="@routes.UiController.playersState()">Players State</a></li>
              <li><a class="dropdown-item" href="@routes.UiController.gridColors()">Grid</a></li>
              <li><a class="dropdown-item" href="@routes.UiController.playerHandView()">Players Hand</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="@routes.UiController.listEvents()">List Events</a></li>
              <li><a class="dropdown-item" href="@routes.UiController.loadingScreen()">Loading Screen</a></li>
              <li><a class="dropdown-item" href="@routes.UiController.enterNames()">Enter Names</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content">@content</div>
  </body>
</html>
