@()(implicit request: play.api.mvc.RequestHeader)

@main("Enter names") {
<div class="enter-names">
  <h1>Enter Player Names</h1>
  <form id="player-names-form" data-action="@routes.UiController.setPlayerNames()">
    <div>
      <label for="player1Name">Name Player 1</label><br />
      <input type="text" id="player1Name" name="player1Name" required />
    </div>
    <br />
    <div>
      <label for="player2Name">Name Player 2</label><br />
      <input type="text" id="player2Name" name="player2Name" required />
    </div>
    <br />
    <div>
      <button type="submit">Continue</button>
    </div>
  </form>
</div>

<script src="@routes.Assets.versioned("javascripts/enter-names.js")" type="text/javascript"></script>
}