@import play.api.mvc.RequestHeader 
@(message: String, routes: Seq[(String,
String, String)])(implicit request: RequestHeader) @main("404") {

<div>
  <h1>@message</h1>
  <h3>Verfügbare Routen:</h3>

  <div>
    <div class="info-card-routes">
      @for((method, path, action) <- routes) {
      <div class="route-item">
        <span class="route-method">@method</span>
        <span class="route-path">@path</span>
        <span class="route-action">@action</span>
      </div>
      }
    </div>
  </div>

  <div class="error-image">
    <img
      src="https://github.com/user-attachments/assets/efecb4e8-2e53-4586-8bd7-b79ecacc3ab6"
    />
  </div>
</div>
}
